.container {
    width: 90%;
    margin: auto;

}

.home-container {
    padding: 0;
    display: grid;
    grid-template-columns: 4fr 1fr;
}

;

.shop-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2em;
}

.order-container {
    padding: 0 1em;
    margin: 0 1em;
    border-radius: 1em;
    color: white;
    background-color: salmon;
}

.order-container button {
    padding: 1em;
    border: 1px solid white;
    border-radius: 1em;
    cursor: pointer;
    color: white;
    background-color: salmon;
}